html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #222;
    font-family: 'Gugi', sans-serif;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 24px;
    color: whitesmoke;
}

.works-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    width: 60%;
    text-align: center;
    color: white;
    font-size: 36px;
    margin: 15vh auto 0;
}

.nav-elem {
    border-radius: 20px;
    transition: .25s;
    cursor: pointer;
    padding: 20px;
    border: 1px solid yellowgreen;
}

.nav-elem:hover {
    background: yellowgreen;
    color: black;
}

.hidden {
    animation: disappear .5s ease forwards;
}

@keyframes disappear {
    0% {
        opacity: 1
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
    }
}

.selected {
    background: yellowgreen;
    color: black;
}

.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    column-gap: 50px;
    margin: 50px auto;
}

a {
    font-size: 2em;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 1vh;
    display: grid;
    border-radius: 10px;
    place-content: center;
    transition: .25s;
    height: 10vh;
    animation: appear .5s ease;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

a:hover, a:focus {
    background-color: yellowgreen;
    color: black;
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .logo {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: fit-content;
        font-size: 1.5em;
    }

    .container {
        grid-template-columns: 1fr;
    }
}