html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #222;
    display: grid;
    place-items: center;
    font-family: 'Gugi', sans-serif;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 24px;
    color: whitesmoke;
}

a {
    font-size: calc(2vw + 2.5vh);
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 1vh;
    display: grid;
    border-radius: 10px;
    place-content: center;
    transition: .25s;
    height: 10vh;
}

a:hover {
    background-color: yellowgreen;
    color: black;
    height: 16vh;
}

@media (max-width: 700px) {
    .logo {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: fit-content;
    }
}