html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #222;
    display: grid;
    place-items: center;
    font-family: 'Gugi', sans-serif;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 24px;
    color: whitesmoke;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

a {
    font-size: 2em;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 1vh;
    display: grid;
    border-radius: 10px;
    place-content: center;
    transition: .25s;
    height: 10vh;
}

a:hover, a:focus {
    background-color: yellowgreen;
    color: black;
    transform: scale(1.2);
}

@media (max-width: 700px) {
    .logo {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: fit-content;
        font-size: 1.5em;
    }
}