.Form {
    margin-top: 20px;
}

.Form input:first-of-type {
    width: 400px;
    height: 30px;
    font-size: 18px;
    border-top-left-radius: 10px;
    padding-left: 10px;
}

.Form button {
    height: 30px;
    width: 100px;
    border-top-right-radius: 10px;
}

.select-sort {
    width: 250px;
    height: 30px;
    border-bottom-left-radius: 10px;
}

.search-bar {
    width: 250px;
    height: 30px;
    border-bottom-right-radius: 10px;
}