body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Nunito Sans';
    --padding: 0 10%;
    --pad: 10%;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

.header-1 {
    height: 45px;
    background: #18154B;
    color: #F0F5FB;
    position: relative;
    padding: var(--padding);
}

.contacts {
    line-height: 45px;
    font-size: 0.8em;
}

.contact {
    margin-right: 45px;
    display: inline;
}

.contacts img {
    position: relative;
    right: 5px;
    top: 3px;
}

.socials {
    position: absolute;
    right: var(--pad);
    top: 0;
    padding-top: 10px;
}

.social {
    margin-left: 20px;
    width: 25px;
    display: inline-block;
    height: 25px;
}

.header-2 {
    height: 70px;
    padding: var(--padding);
    position: relative;
}

.header-cont {
    display: grid;
    grid-template-columns: 150px 130px repeat(4, 1fr) 200px;
    text-align: center;
    width: 80%;
    place-items: center;
    height: 100%;
}

.logo {
    font-weight: 800;
    font-size: 1.1em;
    line-height: 27px;
    text-transform: uppercase;
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    justify-self: start;
}

.link {
    font-size: 0.9em;
}

.req-call {
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    color: white;
}

.head-buttons {
    position: absolute;
    right: var(--pad);
    top: 15px;
}

.head-button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
}

.head-button:nth-of-type(1) {
    background: url('assets/поиск.svg')
}

.head-button:nth-of-type(2) {
    background: url('assets/избранное-2.svg')
}

.head-button:nth-of-type(2)::after {
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
    background: url('assets/кол-во\ товара-1.svg');
    width: 18px;
    height: 18px;
}

.head-button:nth-of-type(3)::after {
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
    background: url('assets/кол-во\ товара.svg');
    width: 18px;
    height: 18px;
}

.head-button:nth-of-type(3) {
    background: url('assets/корзина-2.svg')
}

main {
    background-color: #F0F5FB;
    padding: var(--padding);
}

.banners {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
}

.banner {
    height: 440px;
    background: grey;
}

.banner:first-of-type {
    background: url('assets/Ellipse-4.svg'), url('assets/image-8.svg'), linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    border-radius: 10px;
    padding: 80px 57px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position-x: right, 0, 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
}

.b1-1 {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}

.b1-2 {
    margin-top: 18px;
    font-size: 1em;
    font-weight: 600;
    color: white;
}

.b1-button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    margin-top: 30px;
}

.banner:nth-of-type(2) {
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    background: url('assets/Ellipse-3.svg'), url('assets/Ellipse-2.svg'), #1A0B73;
    background-repeat: no-repeat;
    background-position: top left, right bottom, 0;
}

.b2-1 {
    font-size: 1.8em;
    font-weight: 800;
    color: white;
}

.b2-2 {
    display: inline;
    font-weight: 700;
    font-size: 3em;
    color: white;
}

.b2-3 {
    display: inline;
    font-weight: 600;
    font-size: 1em;
    position: absolute;
    top: 140px;
    left: 200px;
    color: white;
}

.b2-button {
    color: white;
    position: absolute;
    bottom: 30px;
    right: 70px;
    font-size: 0.9em;
    font-weight: 700;
}

.b2-button::after {
    content: "";
    position: absolute;
    display: block;
    width: 31px;
    height: 12px;
    background: url('assets/Arrow.svg');
    top: 4px;
    right: -40px;
}

.banner:nth-of-type(2) img {
    position: absolute;
    bottom: 25px;
    left: 5px;
}

.categ {
    margin-top: 80px;
}

.head-text {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #18154B;
}

.categ-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 170px 170px;
    gap: 20px;
}

.cat {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    background: url('assets/Ellipse\ \(1\).svg');
    background-repeat: no-repeat;
}

.cat-name {
    font-size: 1em;
    font-weight: 600;
    color: #303239;
}

.cat-catalog {
    margin-top: 60px;
}

.advantages {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 30% repeat(3, 1fr);
    grid-template-rows: 120px 120px;
    box-sizing: border-box;
    background: url('assets/Ellipse-1.svg'), url('assets/bg.svg'), radial-gradient(98.19% 130.91% at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.57%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #180564 82.26%);
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    background-repeat: no-repeat;
    background-position-x: right, 0, 0;
    background-position-y: bottom, 0, 0;
    border-radius: 10px;
    gap: 40px;
    height: 380px;
    padding-right: 100px;
}

.advant-header {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: white;
    display: block;
    margin: 50px 0 0 60px;
    height: 350px;
    grid-row: 1 / 3;
    background: url('assets/svg-6.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -20px;
}

.adv {
    width: 170px;
    justify-self: end;
}

.adv-img {
    margin-left: -40px;
    margin-top: 20px;
}

.adv-desc {
    margin-top: -40px;
    color: white;
}

.hits {
    margin-top: 80px;
}

.hits-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.hit {
    height: 360px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
}

.hit-categ div {
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 0.02em;
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
}

.hit-categ {
    margin: -5px 0 0 -5px;
    padding: 3px 10px;
    background-color: #F0F5FB;
    width: fit-content;
    border-radius: 4px;
}

.hit-favor {
    position: absolute;
    right: 15px;
    top: 15px;
}

.hit-img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 10px auto;
}

.hit-avail {
    font-size: 0.7em;
    color: #9B9B9B;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 10px;
    position: relative;
}

.hit-avail::before {
    display: block;
    position: absolute;
    left: -15px;
    top: 5px;
    border-radius: 5px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #38B0C1;
}

.hit-model {
    font-size: 0.9em;
    font-weight: 600;
    color: #303239;
}

.hit-price {
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 8px;
    display: inline;
}

.hit-past-price {
    display: inline;
    text-decoration: line-through;
    font-size: 0.6em;
    color: #9B9B9B;
}

.hit-cart {
    position: absolute;
    right: 20px;
    bottom: 100px;
}

.hit-buy {
    width: 100%;
    height: 45px;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    color: white;
    font-size: 0.8em;
    margin: 20px auto 0;
}

.about-1 {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-text {
    margin-top: 40px;
    white-space: pre-wrap;
}

.about-img {
    justify-self: end;
}

.about-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 70px;
    margin-top: 80px;
    height: 220px;
}

.feature {
    height: 165px;
    width: 120px;
}

.feat-desc {
    font-size: 0.9em;
    color: #303239;
    line-height: 23px;
}

.form {
    margin-top: 80px;
    background: url('./assets/Ellipse.svg'), url('./assets/bg\ image.svg');
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding: 50px 60px;
    color: white;
}

.form .head-text {
    color: white;
}

.form-text {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.data {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(243, 243, 243, 0.7);
    border-radius: 50px;
    width: 240px;
    height: 50px;
    margin-top: 25px;
    padding: 15px 0 15px 20px;
    box-sizing: border-box;
    margin-right: 20px;
}

.data::placeholder {
    font-size: 14px;
    color: #F3F3F3;
}

.form-submit {
    width: 240px;
    height: 50px;
    color: black;
    background-color: white;
    border-radius: 50px;
}

#check {
    margin-top: 20px;
}

.where {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 45% 55%;
    padding-bottom: 50px;
}

.info {
    margin-bottom: 10px;
    margin-left: 30px;
    position: relative;
}

.where-cont img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 40px;
}

.info:first-of-type {
    margin-top: 40px;
}

.info::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    top: 5px;
    left: -30px;
}

.info:nth-of-type(1)::before {
    background: url('assets/geo.svg')
}

.info:nth-of-type(2)::before {
    background: url('assets/metro.svg')
}

.info:nth-of-type(3)::before {
    background: url('assets/email.svg')
}

.info:nth-of-type(4)::before {
    background: url('assets/phone.svg')
}

.info:nth-of-type(5)::before {
    background: url('assets/time.svg')
}

.where-img {
    height: 360px;
    position: relative;
    background: url('assets/map.svg');
    filter: drop-shadow(0px 4px 20px rgba(0, 7, 94, 0.1));
    background-repeat: no-repeat;
}

.where-img::after {
    display: block;
    content: "";
    width: 22px;
    height: 32px;
    background: url('assets/location.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 115px;
    left: 350px;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 70px var(--pad);
    background: #18154B;
    position: relative;
}

.ft-logo {
    text-transform: uppercase;
    font-size: 1.2em;
    color: white;
    font-weight: 800;
}

.ft-copy {
    font-size: 0.9em;
    color: #B8B8B8;
    margin-top: 16px;
}

.column-header {
    font-size: 0.9em;
    color: #B8B8B8;
    font-weight: 700;
    letter-spacing: 2%;
}

.column {
    margin-top: 20px;
    color: white;
}

.ftr {
    margin-bottom: 8px;
    font-size: 0.8em;
}

.darken {
    font-size: 0.8em;
    color: #B8B8B8;
    position: absolute;
    bottom: 70px;
    right: var(--pad);
    text-align: right;
}

footer .form-submit {
    position: absolute;
    right: var(--pad);
}