body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Nunito Sans';
    --padding: 0 10%;
    --pad: 10%;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

.header-1 {
    height: 45px;
    background: #18154B;
    color: #F0F5FB;
    position: relative;
    padding: var(--padding);
}

.contacts {
    line-height: 45px;
    font-size: 0.8em;
}

.contact {
    margin-right: 45px;
    display: inline;
}

.contacts img {
    position: relative;
    right: 5px;
    top: 3px;
}

.socials {
    position: absolute;
    right: var(--pad);
    top: 0;
    padding-top: 10px;
}

.social {
    margin-left: 20px;
    width: 25px;
    display: inline-block;
    height: 25px;
    cursor: pointer;
}

.header-2 {
    height: 70px;
    padding: var(--padding);
    position: relative;
}

.header-cont {
    display: grid;
    grid-template-columns: 15% 10% 15% 10% 10% 20%;
    text-align: center;
    width: 80%;
    min-width: 900px;
    place-items: center;
    height: 100%;
    margin: -30px 0 0 150px;
}

.search-bar, .contacts-2, .socials-2 {
    display: none;
}

.logo {
    font-weight: 800;
    font-size: 1.1em;
    line-height: 27px;
    text-transform: uppercase;
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    justify-self: start;
    z-index: 3;
    position: relative;
    top: 20px;
    width: fit-content;
    cursor: pointer;
}

.link {
    font-size: 0.9em;
    cursor: pointer;
}

.req-call {
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    color: white;
    cursor: pointer;
    background-size: 200%;
    transition: .25s;
}

.req-call:hover {
    background-position-x: -50px;
    transform: scale(1.1);
}

.head-buttons {
    position: absolute;
    right: var(--pad);
    top: 15px;
}

.head-button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.head-button:nth-of-type(1) {
    background: url('assets/поиск.svg')
}

.head-button:nth-of-type(2) {
    background: url('assets/избранное-2.svg')
}

.head-button:nth-of-type(2)::after {
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
    background: url('assets/кол-во\ товара-1.svg');
    width: 18px;
    height: 18px;
}

.head-button:nth-of-type(3)::after {
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: -5px;
    background: url('assets/кол-во\ товара.svg');
    width: 18px;
    height: 18px;
}

.head-button:nth-of-type(3) {
    background: url('assets/корзина-2.svg')
}

.burger {
    width: 40px;
    height: 40px;
    background-color: #F0F5FB;
    position: absolute;
    right: 25px;
    top: 50px;
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 20px;
    transition: .25s;
    z-index: 3;
}

.burg-line {
    width: 25px;
    height: 2px;
    background: linear-gradient(to right, #0D748B, #1A0B73);
    transition: .25s transform;
}

@keyframes anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.anim {
    animation: anim-reverse 0.5s ease forwards !important;
}

@keyframes anim-reverse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

main {
    background-color: #F0F5FB;
    padding: var(--padding);
}

.banners {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
}

.banner {
    min-height: 440px;
    background: grey;
    border-radius: 10px;
}

.banner:first-of-type {
    background: url('assets/Ellipse-4.svg'), url('assets/image-8.svg'), linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    padding: 80px 57px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position-x: right, 0, 0;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 100px;
}

.bnr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.b-1 ~ img {
    place-self: center;
}

.b1-1 {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}

.b1-2 {
    margin-top: 18px;
    font-size: 1em;
    font-weight: 600;
    color: white;
}

.b1-button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    margin-top: 30px;
    cursor: pointer;
}

.banner .pagination {
    position: absolute;
    top: 200px;
}

.pag {
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgba(56, 176, 193, 0.4);
    cursor: pointer;
}

.chosen {
    width: 12px;
    height: 12px;
    transform: translateY(1px);
    background: #38B0C1;
}

.banner:nth-of-type(2) {
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    background: url('assets/Ellipse-3.svg'), url('assets/Ellipse-2.svg'), #1A0B73;
    background-repeat: no-repeat;
    background-position: top left, right bottom, 0;
}

.b2-1 {
    font-size: 1.8em;
    font-weight: 800;
    color: white;
}

.b2-2 {
    display: inline;
    font-weight: 700;
    font-size: 3em;
    color: white;
}

.b2-3 {
    display: inline;
    font-weight: 600;
    font-size: 1em;
    position: absolute;
    top: 140px;
    left: 200px;
    color: white;
}

.b2-button {
    color: white;
    position: absolute;
    bottom: 30px;
    right: 70px;
    font-size: 0.9em;
    font-weight: 700;
}

.b2-button::after {
    content: "";
    position: absolute;
    display: block;
    width: 31px;
    height: 12px;
    background: url('assets/Arrow.svg');
    top: 4px;
    right: -40px;
}

.banner:nth-of-type(2) img {
    position: absolute;
    bottom: 25px;
    left: 5px;
}

.categ {
    margin-top: 80px;
}

.head-text {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #18154B;
}

.categ-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 170px 170px;
    gap: 20px;
}

.cat {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    background: url('assets/Ellipse\ \(1\).svg'), white;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    cursor: pointer;
}

.cat-name {
    font-size: 1em;
    font-weight: 600;
    color: #303239;
}

.cat-catalog {
    margin-top: 60px;
    position: relative;
}

.cat-catalog::after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    right: 25px;
    width: 30px;
    height: 10px;
    background: url('assets/arrow-2.svg');
    background-position: center;
    transition: .25s;
}

.cat:hover .cat-catalog::after {
    right: 15px;
}

.advantages {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 30% repeat(3, 1fr);
    grid-template-rows: 120px 120px;
    box-sizing: border-box;
    background: url('assets/Ellipse-1.svg'), url('assets/bg.svg'), radial-gradient(98.19% 130.91% at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.57%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #180564 82.26%);
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
    background-repeat: no-repeat;
    background-position-x: right, 0, 0;
    background-position-y: bottom, 0, 0;
    border-radius: 10px;
    gap: 40px;
    min-height: 380px;
    padding-right: 1%;
    position: relative;
}

.advant-header {
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: white;
    display: block;
    margin: 50px 0 0 60px;
    height: 350px;
    grid-row: 1 / 3;
    background: url('assets/svg-6.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -20px;
}

.adv {
    width: 170px;
    justify-self: end;
}

.adv-img {
    margin-left: -40px;
    margin-top: 20px;
}

.adv-desc {
    margin-top: -40px;
    color: white;
}

.hits {
    margin-top: 80px;
    position: relative;
}

.hits-wrapper {
    display: grid;
    grid-template-columns: repeat(4,100%);
    gap: 20px;
    width: 100%;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.hits-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    scroll-snap-align: start;
}

.hits .pagination {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
}

.hit {
    height: 360px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
}

.hit-categ div {
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 0.02em;
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
}

.hit-categ {
    margin: -5px 0 0 -5px;
    padding: 3px 10px;
    background-color: #F0F5FB;
    width: fit-content;
    border-radius: 4px;
}

.hit-favor {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.hit-img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 10px auto;
    cursor: pointer;
}

.hit-avail {
    font-size: 0.7em;
    color: #9B9B9B;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 10px;
    position: relative;
}

.hit-avail::before {
    display: block;
    position: absolute;
    left: -15px;
    top: 5px;
    border-radius: 5px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #38B0C1;
}

.hit-model {
    font-size: 0.9em;
    font-weight: 600;
    color: #303239;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hit-price {
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 8px;
    display: inline;
}

.hit-past-price {
    display: inline;
    text-decoration: line-through;
    font-size: 0.6em;
    color: #9B9B9B;
}

.hit-cart {
    position: absolute;
    right: 20px;
    bottom: 100px;
    cursor: pointer;
}

.hit-buy {
    width: 100%;
    height: 45px;
    border: 0;
    border-radius: 50px;
    background: linear-gradient(73.56deg, #0D748B -10.13%, #1A0B73 75.49%), #FFFFFF;
    color: white;
    font-size: 0.8em;
    margin: 20px auto 0;
    cursor: pointer;
}



.about-1 {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-text {
    margin-top: 40px;
    white-space: pre-wrap;
}

.about-img {
    justify-self: end;
}

.about-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 70px;
    margin-top: 80px;
}

.feature {
    height: 165px;
    width: 120px;
}

.feat-desc {
    font-size: 0.9em;
    color: #303239;
    line-height: 23px;
}

.form {
    margin-top: 80px;
    background: url('./assets/Ellipse.svg'), url('./assets/bg\ image.svg');
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 60px;
    color: white;
}

.form .head-text {
    color: white;
}

.form-text {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.data {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(243, 243, 243, 0.7);
    border-radius: 50px;
    width: 240px;
    height: 50px;
    margin-top: 25px;
    padding: 15px 0 15px 20px;
    box-sizing: border-box;
    margin-right: 20px;
}

.data::placeholder {
    font-size: 14px;
    color: #F3F3F3;
}

.form-submit {
    max-width: 240px;
    min-width: 200px;
    height: 50px;
    color: black;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}

#check {
    margin-top: 20px;
}

.where {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 45% 55%;
    padding-bottom: 50px;
}

.info {
    margin-bottom: 10px;
    margin-left: 30px;
    position: relative;
}

.where-cont img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.info:first-of-type {
    margin-top: 40px;
}

.info::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    top: 5px;
    left: -30px;
}

.info:nth-of-type(1)::before {
    background: url('assets/geo.svg')
}

.info:nth-of-type(2)::before {
    background: url('assets/metro.svg')
}

.info:nth-of-type(3)::before {
    background: url('assets/email.svg')
}

.info:nth-of-type(4)::before {
    background: url('assets/phone.svg')
}

.info:nth-of-type(5)::before {
    background: url('assets/time.svg')
}

.where-img {
    min-height: 360px;
    width: 100%;
    position: relative;
    background: url('assets/mapa-1.svg');
    background-position: center;
    filter: drop-shadow(0px 4px 20px rgba(0, 7, 94, 0.1));
    background-repeat: no-repeat;
    cursor: pointer;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 70px var(--pad);
    background: #18154B;
    position: relative;
}

.ft-logo {
    text-transform: uppercase;
    font-size: 1.2em;
    color: white;
    font-weight: 800;
}

.ft-copy {
    font-size: 0.9em;
    color: #B8B8B8;
    margin-top: 16px;
}

.column-header {
    font-size: 0.9em;
    color: #B8B8B8;
    font-weight: 700;
    letter-spacing: 2%;
}

.column {
    margin-top: 20px;
    color: white;
}

.ftr {
    margin-bottom: 8px;
    font-size: 0.8em;
    cursor: pointer;
}

.darken {
    font-size: 0.8em;
    color: #B8B8B8;
    position: absolute;
    bottom: 75px;
    right: var(--pad);
    text-align: right;
}

footer .form-submit {
    position: absolute;
    right: var(--pad);
}

.ft-4 p {
    cursor: pointer;
}

@media (max-width: 1350px) {
    .hits-container, .about-2, .advantages, .categ-container {
        grid-template-columns: 1fr 1fr;
    }

    .head-buttons {
        position: static;
        margin: 30px auto;
        width: fit-content;
    }

    main {
        padding-top: 100px;
    }

    .header-2 {
        height: 170px;
    }

    .header-cont {
        width: 100%;
        height: auto;
        margin-top: -15px;
    }

    .banners {
        grid-template-columns: 1fr;
        padding-top: 20px;
    }

    .b2-1, .b2-2, .b2-3 {
        display: block;
        text-align: center;
        position: static;
        font-size: 3em
    }

    .about-2, .categ-container{
        justify-items: center;
    }

    .advantages {
        padding-top: 100px;
    }

    .adv {
        justify-self: center;
    }

    .advant-header {
        grid-column: 1 / 3;
        grid-row: 4;
    }

    .advant-h {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 80%;
        text-align: start;
    }

    .where, .about-1 {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .about-img {
        justify-self: center;
    }

    .where-img, .where-cont {
        justify-self: center;
    }

    .where-img {
        background-position: center;
    }
}

@media (max-width: 1100px) {
    main {
        padding-top: 20px;
    }

    .burger {
        display: grid;
        right: 50px;
        top: 60px;
    }

    .head-buttons {
        margin-top: -10px;
        z-index: 3;
        position: relative;
        right: unset;
        top: unset;
    }

    .header-cont {
        display: none;
        position: absolute;
        top: 0px;
        width: 100%;
        min-width: auto;
        grid-template-columns: 1fr;
        grid-auto-rows: 50px;
        justify-items: start;
        font-size: 1.5em;
        left: 0;
        right: 0;
        margin: 0 auto 0;
        background-color: white;
        padding: 50px 20px;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
        animation: anim 0.5s ease forwards;
        text-align: left;
        z-index: 2;
    }

    .link {
        border-bottom: 1px solid #F0F5FB;
        width: 100%;
        text-align: left;
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .search-bar {
        display: block;
        height: 40px;
        width: 100%;
        border-radius: 50px;
        background-color: #F0F5FB;
        border: 0;
        padding-left: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contacts-2 {
        display: block;
        position: relative;
        text-align: left;
        margin-top: 20px;
    }

    .header-2 {
        height: 70px;
    }

    .contacts-2 * {
        display: inline;
        width: fit-content;
        margin-top: 20px;
    }

    .contacts-2 p {
        margin-left: 10px;
    }

    .socials-2 {
        display: block;
        position: absolute;
        right: 10px;
        bottom: 45px;
    }

    .socials-2 img {
        margin-left: 10px;
    }

    .req-call {
        margin-top: 20px;
    }

    .form-submit {
        margin-top: 20px;
    }

    .darken {
        bottom: 50px;
    }

    .head-button:first-of-type {
        display: none;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1100px) {
    .header-cont {
        display: grid !important;
    }
}

@media (max-width: 900px) {
    .banner .pagination {
        margin: 0 auto;
        right: 0;
        left: 0;
        width: fit-content;
    }

    .banner:nth-of-type(2) img {
        width: 40%;
        left: unset;
        right: 0;
        bottom: 100px;
    }

    .b2-1, .b2-2, .b2-3 {
        text-align: left;
        margin-bottom: 30px;
    }

    .b2-1 {
        font-size: 4em;
        line-height: 1em;
    }

    .b2-2 {
        font-size: 5em;
    }

    .b2-3 {
        font-size: 1.5em;
    }

    .b2-button {
        font-size: 1.5em;
    }

    .b2-button::after {
        top: 10px;
        right: -45px;
    }

    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5em;
    }

    .header-1 {
        display: none;
    }

    .header-2 {
        height: 60px;
    }

    .burger {
        top: 10px;
        right: 20px;
    }

    .head-buttons {
        margin: 0;
        position: absolute;
        right: 75px;
        top: 10px;
    }

    .banner:first-of-type {
        padding: 40px 40px;
    }

    .b-1 ~ img {
        width: 50%;
        justify-self: right;
    }

    .categ-container {
        grid-template-columns: 1fr !important;
    }

    .about-img {
        width: 90%;
    }

    .where-img {
        background: url('assets/mapa-2.svg');
        background-repeat: no-repeat;
        background-size: 500px;
        background-position: center;
        justify-self: center;
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 500px) {
    body {
        --padding: 0 5%;
        --pad: 5%;
    }

    .banner:first-of-type {
        padding: 20px;
    }

    .b1-1, .b2-1, .b2-2, .b2-3 {
        font-size: 7vw;
    }

    .advantages {
        padding-top: 150px;
        font-size: 20px;
    }

    .advant-header {
        grid-column: 1;
        grid-row: 7;
        margin: 0;
    }

    .advant-h {
        font-size: 8vw;
    }

    .adv {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        justify-self: start;
        width: 80%;
    }

    .adv * {
        margin: 0;
    }

    .feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: start;
        place-items: center;
        width: 80%;
        font-size: 1.5em
    }

    .feat-desc {
        width: 100%;
    }

    .ft-4 button {
        position: static;
    }

    .hit-model {
        text-overflow: ellipsis;
        width: 100%;
    }

    .hit-img {
        width: 80%;
    }

    .darken {
        text-align: left;
        left: var(--pad);
    }

    .ft-4 {
        height: 100px;
    }

    .advantages, footer, .about-2 {
        grid-template-columns: 1fr;
    }
}