.CartEl {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    height: 150px;
    transition: .25s;
    padding: 20px 0 0 20px;
    cursor: pointer;
    border-radius: 20px;
}

.CartEl:hover {
    background-color: red;
}

.el-img {
    width: 75px;
    height: 100px;
    background-color: white;
    object-fit: contain;
}

.el-header {
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.el-price {
    grid-column: 2;
    font-size: 36px;
}