.Calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 3px solid white;
    border-radius: 30px;
    width: 33%;
    margin: 0 auto;
    height: 100%;
  }
  
.result {
    grid-column: 1 / 5;
    border-bottom: 3px solid white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
  
@media (max-width: 1200px) {
    .Calc {
      width: 100%;
    }
}