html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    --padding: 10%;
}

p {
    margin: 0;
}

.container {
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 24px;
}

header {
    height: 100px;
    position: relative;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
}

.header-nav {
    position: absolute;
    right: 90px;
    top: 40px;
    display: grid;
    grid-template-columns: repeat(4,20%) 200px;
    grid-template-rows: 30px;
    place-items: center;
    width: 50%;
}

.burger {
    width: 50px;
    height: 50px;
    background-color: rgb(171, 130, 175);
    position: absolute;
    right: 25px;
    top: 50px;
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    padding: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .25s;
    cursor: pointer;
}

.burg-line {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: .25s transform;
}

.burger:hover {
    background-color: rgb(188, 107, 196);
}

@keyframes anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.anim {
    animation: anim-reverse 0.5s ease forwards !important;
}

@keyframes anim-reverse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.hn {
    font-size: 18px;
    color: white;
    text-align: center;
}

.active {
    background-color: #7140EB;
    border-radius: 999px;
    padding: 10px 50px;
}

.slogan {
    height: 100vh;
    background-image: url('assets/IMAGE-9.svg');
    background-size: cover;
    margin-top: -100px;
    text-align: center;
    position: relative;
    z-index: -1;
}

.slogan * {
    margin: 0 auto;
}

.sl-cont {
    position: absolute;
    bottom: 40%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 0;
}

.sl-1 {
    font-size: 4em;
    letter-spacing: 5px;
}

.sl-2 {
    margin-top: 20px;
}

.slogan .active {
    margin-top: 30px;
    width: fit-content;
}

.how-it-works {
    padding: 70px 0 70px var(--padding);
    color: #49464F;
    display: grid;
    grid-template-columns: 40% 60%;
}

.how-img {
    width: 80%;
    justify-self: end;
    align-self: center;
}

.sec-header {
    font-size: 3em;
}

.steps {
    font-size: 28px;
    margin-top: 71px;
    margin-bottom: 50px;
}

.steps li {
    margin-bottom: 24px;
}

.start {
    font-size: 18px;
    color: white;
    background-color: #7140EB;
    border-radius: 999px;
    padding: 20px 55px;
    width: fit-content;
    cursor: pointer;
    transition: .25s;
}

.start:hover {
    transform: scale(1.2);
    background-color: violet;
}

.move-your-way {
    padding: 70px var(--padding);
    color: #2E2C34;
    background-color: #F5F5F7;
    margin-top: 40px;
}

.choose {
    margin-top: 30px;
    font-size: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-items: center;
    gap: 15px;
    margin-top: 50px;
}

.card {
    padding: 50px 25px 0 25px;
    box-sizing: border-box;
    height: 520px;
    width: 335px;
    background-color: white;
    border-radius: 16px;
    position: relative;
}

.card-img {
    height: 200px;
    margin: 0 auto;
    width: fit-content;
    display: block;
}

.card-price {
    font-size: 18px;
    position: absolute;
    left: 25px;
    bottom: 260px;
}

.offer {
    font-size: 16px;
    padding: 1px 10px;
    background-color: #F1EEF8;
    color: #7140EB;
    border-radius: 20px;
    position: absolute;
    left: 200px;
    bottom: 260px;
}

.details::before, .just-details::before, .learn::before {
    display: block;
    width: 15px;
    height: 13px;
    content: "";
    position: absolute;
    left: 125px;
    top: 25px;
    background-image: url('assets/Vector-1.svg');
    transition: .25s;
}

.just-details::before {
    top: 15px;
    left: 125px
}

.learn::before {
    top: 14px;
    left: 132px;
}

.card-name {
    font-size: 29px;
    color: #49464F;
    margin-top: 40px;
}

.card-type {
    font-size: 18px;
    color: #49464F;
}

.details {
    padding: 22px 60px 22px 40px;
    width: fit-content;
    border: 1px solid #2E2C34;
    border-radius: 999px;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}

.details::before {
    left: 115px;
    top: 24px;
}

.details:hover::before, .just-details:hover::before {
    left: 135px;
}

.learn:hover::before {
    left: 140px;
}

.just-ride {
    padding: 70px var(--padding);
    display: grid;
    grid-template-columns: 30% 70%;
    color: #2E2C34;
    background-color: #F5F5F7;
}

.just {
    font-size: 3em;
}

.your-local {
    font-size: 18px;
    margin-top: 25px;
}

.just-img {
    width: 70%;
    max-width: 800px;
    justify-self: center;
}

.just-details {
    font-size: 16px;
    padding: 12px 60px 12px 40px;
    border: 1px solid #2E2C34;
    width: fit-content;
    border-radius: 999px;
    margin-top: 40px;
    position: relative;
    cursor: pointer;
}

.your-city {
    padding: 70px 123px;
    color: white;
    background-image: url('assets/IMAGE-5.svg');
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.your {
    font-size: 3em;
    margin-top: 275px;
}

.our {
    font-size: 21px;
    margin-top: 10px;
}

.your-city .start {
    margin-top: 30px;
}

.your-want {
    font-size: 18px;
    margin-top: 33px;
}

.your-cities {
    font-size: 5em;
    justify-self: end;
    align-self: center;
    margin-top: 65px;
    text-align: end;
}

.charge {
    padding: 70px var(--padding);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    color: #2E2C34;
}

.you-charge {
    font-size: 3em;
}

.subs {
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.check {
    font-size: 24px;
    color: #49464F;
    padding: 8px 16px 8px 50px;
    background-color: #F5F5F7;
    border-radius: 40px;
    width: fit-content;
    margin-bottom: 15px;
    position: relative;
}

.check::before {
    display: block;
    content: "";
    background-image: url('assets/Vector.svg');
    width: 16px;
    height: 16px;
    position: absolute;
    left: 20px;
    top: 15px;
}

.charge .card {
    background-color: #F5F5F7;
    justify-self: end;
    width: 100%;
}

.charge .start {
    margin-top: 12px;
}

.know-more {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    place-items: center;
    background-color: #F5F5F7;
    padding: 50px 0;
}

.want-know {
    font-size: 3em;
}

.learn {
    font-size: 16px;
    padding: 11px 55px 11px 44px;
    border: 1px solid #2E2C34;
    width: fit-content;
    border-radius: 999px;
    margin-top: 55px;
    position: relative;
    cursor: pointer;
}

.questions {
    margin-top: 20px;
}

.q {
    font-size: 21px;
    margin-bottom: 25px;
    width: fit-content;
    cursor: pointer;
}

.cross {
    content: "";
    background-image: url('assets/Vector-2.svg');
    width: 18px;
    height: 18px;
    display: block;
    position: relative;
    left: -45px;
    top: 20px;
    transition: .25s;
}

.q-ans {
    margin-top: 30px;
    padding-left: 20px;
    overflow: hidden;
    animation: ans .25s;
}

.hidden {
    animation: ans-r .25s forwards;
}

@keyframes ans {
    from {height: 0}
    to {height: 57px}
}

@keyframes ans-r {
    from {height: 57px}
    to {height: 0}
}

.members {
    padding: 70px var(--padding) 0 var(--padding);
}

.member {
    font-size: 3em;
}

.reviews {
    gap: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 100px;
}

.rev-text {
    font-size: 29px;
}

.rev-author {
    margin-top: 20px;
    font-size: 17px;
}

footer {
    padding: 100px 80px;
    background-image: url('assets/IMAGE-8.svg');
    background-size: cover;
    display: grid;
    grid-template-columns: 30% 1fr 1fr 1fr 1fr;
    color: white;
    position: relative;
    margin-top: 50px;
}

.footer-container {
    width: 80%;
}

.f-1 {
    font-size: 29px;
}

.f-2 {
    font-size: 16px;
    margin-top: 20px;
}

footer input {
    width: 315px;
    height: 55px;
    font-size: 16px;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 16px;
    box-sizing: border-box;
    border: 0;
}

footer label {
    position: relative;
}

footer label::before {
    display: block;
    content: "";
    background-image: url('assets/Vector-1.svg');
    background-size: cover;
    width: 27px;
    height: 23px;
    position: absolute;
    right: 20px;
    top: -2px;
    cursor: pointer;
}

.f-3 {
    font-size: 14px;
    margin-top: 25px;
}

.footer-nav {
    font-size: 16px;
}

.fn-header {
    color: rgba(255,255,255,0.5);
    margin-bottom: 8px;
}

.fn {
    margin-bottom: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: .25s;
}

.fn:hover {
    color: pink;
}

.services {
    position: absolute;
    bottom: 25px;
    right: 84px;
}

.serv {
    cursor: pointer;
}

@media (max-width: 900px) {
    .container {
        font-size: 14px;
    }

    .logo {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .sl-1 {
        font-size: 48px;
    }

    .sl-cont {
        bottom: 40%;
    }

    .burger {
        display: grid;
    }

    .header-nav {
        display: none;
        top: 100px;
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        left: 0;
        right: 0;
        margin: 50px auto 0;
        background-color: rgba(246, 150, 255, 0.5);
        padding-top: 20px;
        border-radius: 30px;
        backdrop-filter: blur(10px);
        animation: anim 0.5s ease forwards;
    }

    .hn {
        margin-bottom: 50px;
        font-size: 42px;
    }

    .just-ride {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .just-img {
        width: 100%;
        grid-row: 1;
    }

    .members {
        padding-bottom: 100px;
    }

    .member {
        margin-top: 50px;
        text-align: center;
    }

    .how-it-works {
        grid-template-columns: 1fr;
        gap: 10%;
    }

    .how-img {
        width: 100%;
        grid-row: 1;
    }

    .charge .card {
        justify-self: center;
        max-width: 350px;
    }

    .subs {
        width: 80%;
    }

    .check {
        font-size: 18px;
    }

    .your-city {
        padding: 0 0 50px 0;
    }
    
    .your-cities {
        text-align: center;
        justify-self: center;
    }

    .questions {
        width: 70%;
    }

    .q {
        font-size: 18px;
        width: 80%;
    }

    footer {
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .services {
        position: static;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 25px auto;
        gap: 25px;
    }

    .services img {
        width: 50px;
    }

    .yc-main {
        margin: 0 auto;
        display: grid;
        justify-items: center;
    }

    .know-more {
        grid-template-columns: 1fr;
    }

    .wk {
        justify-self: center;
        text-align: center;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 900px) {
    .header-nav {
        display: grid !important;
    }
}

@media (min-width: 2100px) {
    .card-container {
        width: 80%;
        margin: 50px auto;
    }
}