html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    --padding: 20%;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.burger {
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,100);
    position: absolute;
    right: 40px;
    top: 40px;
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    padding: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .25s;
}

.burg-line {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: .25s transform;
}

.burger:hover {
    background-color: darkblue;
}

input, input::placeholder, textarea, textarea::placeholder, button {
    font-family: 'Roboto';
}

header {
    padding: 50px var(--padding) 0 var(--padding);
    color: white;
    position: relative;
}

header .logo {
    position: absolute;
}

.header-nav {
    position: absolute;
    right: var(--padding);
    top: 50px;
    width: 35%;
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(5, minmax(50px, 1fr) 100px);
    place-items: center;
}

.hn {
    font-size: 13px;
    margin-left: 5%;
}

.hn-primary {
    padding: 12px 15px;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0;
}

.slogan {
    background-image: url('assets/IMAGE.svg');
    background-position: right;
    background-size: cover;
    height: 800px;
    margin-top: -70px;
    color: white;
    position: relative;
    z-index: -1;
}

.sl-cont {
    position: absolute;
    top: 250px;
    left: var(--padding);
}

.sl-1 {
    font-size: 42px;
}

.sl-2 {
    margin-top: 20px;
    font-size: 11px;
}

.blue-button {
    border: 0;
    border-radius: 4px;
    background-color: #0A8BFE;
    color: white;
    font-size: 15px;
    display: block;
}

.slogan .blue-button {
    width: 175px;
    height: 60px;
    margin-top: 20px;
}

.features {
    width: 60%;
    margin: -80px auto 0 auto;
    background-color: white;
    padding: 95px 40px;
    position: relative;
}

.f-1 {
    font-size: 26px;
    line-height: 36px;
    width: 20%;
}

.f-2 {
    font-size: 16px;
    line-height: 30px;
    color: #737373;
    width: 20%;
}

.feat-container {
    position: absolute;
    left: 30%;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    width: calc(70% - 50px);
    gap: 40px 0;
}

.feat {
    font-size: 14px;
    line-height: 30px;
    color: #737373;
    width: 35%;
}

.feat:nth-of-type(4), .feat:nth-of-type(5), .feat:nth-of-type(6) {
    align-self: baseline;
}

.where-now {
    padding: 0 var(--padding) 150px var(--padding);
}

.w-1 {
    font-size: 41px;
    text-align: center;
}

.w-2 {
    margin-top: 35px;
    font-size: 12px;
    color: #737373;
    text-align: center;
}

.stages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    margin: 85px auto 0 auto;
    justify-items: center;
}

.stage {
    font-size: 23px;
}

.selected {
    color: #0A8BFE;
}

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
}

.step {
    height: 220px;
    padding: 40px;
    padding-right: 100px;
}

.step-header {
    font-size: 19px;
}

.step-desc {
    font-size: 15px;
    color: #737373;
    margin-top: 23px;
    line-height: 30px;
}

.where-now .blue-button {
    width: 175px;
    height: 60px;
    margin: 90px auto 0 auto;
}

.proud {
    height: 880px;
    background-color: #0E0E33;
    color: white;
    padding: 150px var(--padding) 0 var(--padding);
}

.prd-1 {
    font-size: 41px;
    text-align: center;
}

.achievements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: 80px auto 0 auto;
}

.achievement {
    width: 40%;
}

.ach-header {
    font-size: 42px;
}

.ach-desc {
    font-size: 11px;
    line-height: 30px;
}

.done-jobs {
    margin-top: -500px;
}

.jobs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 0 var(--padding);
}

.job {
    background-color: white;
    padding: 10px 10px 35px 10px;
    box-sizing: border-box;
    width: 100%;
}

.job:nth-of-type(1), .job:nth-of-type(3) {
    justify-self: end;
}

.job-img {
    width: 100%;
    height: 300px;
}

.job-header {
    font-size: 24px;
    margin-top: 45px;
}

.job-desc {
    font-size: 16px;
    margin-top: 25px;
    color: #737373;
    line-height: 30px;
}

.done-jobs .blue-button {
    width: 166px;
    height: 60px;
    margin: 40px auto 0 auto;
}

.relationships {
    margin-top: 150px;
    padding: 0 var(--padding);
}

.r-1 {
    font-size: 41px;
    text-align: center;
}

.r-2 {
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    margin-top: 35px;
}

.r-companies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 50px;
    margin-top: 70px;
}

.partnerships {
    margin-top: 80px;
    padding: 0 var(--padding);
}

.part-1 {
    font-size: 42px;
    text-align: center;
}

.partners {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 30px;
}

.partner {
    height: 240px;
    padding: 30px 20px;
    box-sizing: border-box;
    position: relative;
}

.part-header {
    font-size: 15px;
    color: #737373;
    line-height: 30px;
}

.part-city {
    font-size: 20px;
    line-height: 28px;
}

.part-img {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 25px;
    bottom: 50px;
}

.call-img {
    background-image: url('assets/IMAGE-14.svg');
    background-size: cover;
    height: 1050px;
}

.form {
    width: 60%;
    height: 571px;
    margin: -550px auto 0 auto;
    padding: 30px 50px;
    background-color: white;
}

.call-1 {
    font-size: 25px;
    line-height: 38px;
}

.form input {
    margin-top: 125px;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 12px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
}

.form input::placeholder, .form textarea::placeholder {
    color: black;
    font-weight: 700;
}

.form textarea {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 120px;
    margin-top: 30px;
    border: 1px solid #E8E8E8;
    resize: none;
}

.form .blue-button {
    width: 175px;
    height: 60px;
    margin: 40px auto 0 auto;
}

.industry {
    margin-top: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--padding);
}

.in-1 {
    font-size: 41px;
}

.in-2 {
    font-size: 16px;
    line-height: 30px;
    color: #737373;
    width: 470px;
    margin-top: 35px;
}

.in-3 {
    margin-top: 40px;
}

.award {
    margin-right: 30px;
    width: 80px;
    height: 80px;
}

.resources {
    margin-top: 350px;
    padding: 0 var(--padding);
}

.res-1 {
    font-size: 42px;
    text-align: center;
}

.res-2 {
    margin-top: 35px;
    font-size: 14px;
    text-align: center;
    color: #737373;
}

.res-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15%;
    margin-top: 75px;
}

.res {
    padding: 10px;
    box-sizing: border-box;
}

.res-img {
    height: 250px;
    width: 100%;
    background-size: cover;
}

.res-header {
    font-size: 24px;
    line-height: 38px;
    margin-top: 50px;
}

.res-desc {
    font-size: 12px;
    line-height: 30px;
    color: #737373;
    margin-top: 20px;
}

.faq {
    margin-top: 350px;
}

.faq-1 {
    font-size: 42px;
    text-align: center;
}

.faq-2 {
    font-size: 13px;
    line-height: 30px;
    color: #737373;
    text-align: center;
    margin-top: 35px;
}

.hl-text {
    color: #0A8BFE;
}

.questions-container {
    margin-top: 115px;
    padding: 0 var(--padding);
}

.question {
    height: 60px;
    border-bottom: 1px solid #E8E8E8;
    margin-top: 35px;
    position: relative;
}

.question::after {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url('assets/Frame-6.svg');
    position: absolute;
    right: 0;
    top: 0;
}

.question:nth-of-type(1) {
    margin-top: 0;
}

.kickstart {
    margin-top: 300px;
    position: relative;
}

.kick-1 {
    font-size: 41px;
    text-align: center;
}

.kick-2 {
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    margin-top: 35px;
}

.kick-3 {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(7,500px);
    gap: 50px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.button-left, .button-right {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    background-color: whitesmoke;
    border: 2px solid #E8E8E8;
}

.button-left:hover, .button-right:hover {
    cursor: pointer;
}

.button-left {
    left: 140px;
    bottom: -8px;
}

.button-right {
    right: 140px;
    bottom: -8px;
}

.vacancy {
    display: inline;
    padding: 16px 40px;
    border: 2px solid #E8E8E8;
    border-radius: 30px;
    font-size: 15px;
    line-height: 30px;
    color: #0A8BFE;
    text-align: center;
}

footer {
    margin-top: 150px;
    background-color: #0E0E33;
    color: white;
    padding: 120px var(--padding) 0 var(--padding);
    position: relative;
}

footer .logo {
    position: absolute;
    right: var(--padding);
    top: 120px;
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15%;
    margin-top: 60px;
    padding: 150px 0 150px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.column-header {
    font-size: 20px;
}

.column-main {
    margin-top: 30px;
}

.cm {
    padding-bottom: 11px;
    margin-top: 11px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-size: 15px;
}

.ftr-2 {
    position: absolute;
    bottom: 30px;
    left: var(--padding);
}

.social {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 350px / 2);
    width: 350px;
}

.soc {
    display: inline;
    margin-left: 20px;
}

.ftr-3 {
    position: absolute;
    bottom: 30px;
    right: var(--padding);
}

@media (max-width: 1000px) {
    html,body {
        --padding: 5%;
    }

    header .logo {
        margin: 0 auto;
        width: fit-content;
        left: 0;
        right: 0;
    }

    .burger {
        display: grid;
    }

    .header-nav {
        gap: 0;
        width: 100%;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        grid-template-columns: 1fr;
        display: none;
        background-color: rgba(0,0,100, 0.5);
        border-radius: 50px;
        backdrop-filter: blur(10px);
        padding-top: 50px;
        animation: 0.5s anim ease forwards;
    }

    @keyframes anim {
        from {
            top: -1000px;
            right: 0;
        }
        to {
            top: 100px;
            right: 0;
        }
    }

    .anim {
        animation: anim-reverse 0.5s ease forwards;
    }

    @keyframes anim-reverse {
        from {
            top: 100px;
            right: 0;
        }
        to {
            top: -1000px;
            right: 0;
        }
    }

    .hn {
        font-size: 32px;
        margin:0 0 50px 0;
    }

    .sl-2 {
        line-height: auto;
        top: 400px;
    }

    .features {
        width: 90%;
        text-align: center;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
    }

    .feat-container {
        position: static;
        width: 100%;
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
    }

    .where-now {
        margin-top: 75px;
    }

    .feat {
        width: 80%;
    }

    .f-1, .f-2 {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .f-1 {
        margin-top: -50px;
    }

    .f-2 {
        margin-top: 25px;
    }

    .res-container {
        gap: 0;
        grid-template-columns: 1fr;
    }

    .stages {
        width: 100%;
    }

    .award {
        margin-right: 0;
    }

    .industry {
        grid-template-columns: 1fr;
    }

    .steps {
        gap: 0;
    }

    .step {
        padding: 20px;
        height: auto;
    }

    .in-2 {
        width: 100%;
    }

    .button-left {
        width: 40px;
        height: 40px;
        left: 20px;
        bottom: 10px;
    }

    .button-right {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 10px;
    }

    .question {
        padding-right: 45px;
    }
    
    .ftr-column:nth-of-type(2) {
        display: none;
    }

    .social {
        bottom: 80px;
    }

    .main-footer {
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .ftr-column:nth-of-type(2) {
        display: none;
    }
}

@media (min-width: 2200px) {
    .kick-3 {
        grid-template-columns: repeat(7, 800px);
    }
}

@media (min-width: 1000px) {
    .header-nav {
        display: grid !important;
    }
}