.ModalOrder {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(75, 75, 75, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: modal2 .5s forwards;
    color: white;
    padding: 50px;
}

.ModalActive {
    display: block;
    animation: modal .5s;
}

@keyframes modal {
    from {height: 0%;}
    to {height: 100%}
}

@keyframes modal2 {
    from {height: 100%}
    to {height: 0%; display: none; opacity: 0; pointer-events: none;}
}

.Modal-close {
    width: 50px;
    height: 50px;
    background-color: grey;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.Modal-greeting {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

.Modal-input, .Modal-submit {
    display: block;
    border: 0;
    font-size: 36px;
    margin: 20px auto;
    border-radius: 15px;
}

.Modal-input {
    padding: 5px;
    padding-left: 10px;
}

.Modal-submit {
    margin: 50px auto;
    height: 75px;
    width: 350px;
    background-color: green;
    transition: .25s;
    cursor: pointer;
}

.Modal-submit:hover {
    background-color: lime;
    color: white;
}