html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    --whitish-text: rgba(255,255,255,0.7);
}

body {
    background-color: #191919;
    color: white;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    padding: 70px;
    box-sizing: border-box;
    padding: 70px 15%;
    overflow-x: hidden;
    font-size: 24px;
}

header {
    height: 120px;
    position: relative;
}

.logo {
    margin-top: 50px;
}

.burger {
    width: 50px;
    height: 50px;
    background-color: #888;
    position: absolute;
    right: 40px;
    top: -10px;
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    padding: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .25s;
}



.burg-line {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: .25s transform;
}

.burger:hover {
    background-color: #444;
}

#nav-header {
    position: absolute;
    top: 10px;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    height: 60px;
    align-items: center;
    transition: .25s;
    animation: anim 0.5s ease forwards;
}

@keyframes anim {
    from {
        top: 50px;
        right: 1000px;
    }
    to {
        top: 50px;
        right: 0;
    }
}

.anim {
    animation: anim-reverse 0.5s ease forwards !important;
}

@keyframes anim-reverse {
    from {
        top: 50px;
        right: 0;
    }
    to {
        top: 50px;
        right: -1000px;
    }
}

.nav-el {
    color: white;
    font-weight: 400;
    font-size: 1em;
    line-height: 27px;
    text-align: center;
    transition: .1s ease;
}

.nav-el:hover {
    color: #118DA8;
    cursor: pointer;
}

.main-slogan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.main-img {
    width: 70%;
    max-width: 600px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('assets/IMAGE-2.svg');
    justify-self: start;
    position: relative;
}

.main-img::after {
    display: block;
    content: "";
    width: 68px;
    height: 74px;
    position: absolute;
    top: -30px;
    left: -30px;
    background-image: url('assets/IMAGE-3.svg');
}

.slogan {
    color: white;
    font-weight: 400;
    font-size: 3em;
    line-height: 88px;
    letter-spacing: 3.2px;
    margin: 0 !important;
    position: relative;
}

#next-word {
    position: absolute;
    bottom: -20px;
}

.services-top {
    margin-top: 90px;
    margin-left: 60px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.listen {
    margin-bottom: 15px;
}

.serv {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 17px;
}

.episodes {
    position: relative;
    margin-top: 100px;
}

.header {
    font-weight: 400;
    font-size: 2em;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: white;
}

#view-all {
    width: 180px;
    height: 50px;
    border: 0;
    border-radius: 6px;
    position: absolute;
    top: 15px;
    right: 0;
    background-color: #118DA8;
    color: white;
    font-size: 17px;
    line-height: 27px;
}

.episode {
    padding: 40px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 32px;
    display: grid;
    grid-template-columns: 1fr 60%;
    gap: 5%;
    position: relative;
    margin-top: 65px;
}

.episode img {
    align-self: center;
}

.ep {
    padding-right: 120px;
}

.ep-topic {
    height: 25px;
    width: fit-content;
    background-color: #191919;
    color: white;
    font-size: 18px;
    padding: 0 16px 0 16px;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 27px;
    border-radius: 6px;
    margin-bottom: 50px;
}

.cyan-num {
    color: #118DA8;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.ep-header {
    color: white;
    font-weight: 400;
    font-size: 2em;
    margin-top: 20px;
}

.ep-detail {
    font-size: 0.8em;
    font-weight: 400;
    line-height: 33px;
    color: var(--whitish-text);
    margin-top: 20px;
}

.ep-button {
    width: 200px;
    height: 50px;
    color: white;
    background-color: #118DA8;
    border: 0;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;
}

.host {
    margin-top: 260px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 100px;
}

.img-bio {
    width: 100%;
    max-height: 743px;
}

.arrow {
    width: 110px;
    height: 110px;
    background-color: #118DA8;
    border-radius: 60px;
}

.meet {
    margin-top: 20px;
}

.name {
    font-size: 2em;
    letter-spacing: 2.88px;
}

.bio {
    font-size: 0.9em;
    line-height: 33px;
    color: var(--whitish-text);
    margin-top: 30px;
}

.subscribe {
    background-color: black;
    border-radius: 32px;
    padding: 60px;
    box-sizing: border-box;
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    gap: 5%;
    position: relative;
}

.subs-text {
    font-size: 2em;
    line-height: 79px;
    letter-spacing: 2.88px;
}

#subs-effect {
    position: absolute;
    bottom: -50px;
    left: -50px;
}

input {
    width: 100%;
    height: 70px;
    font-size: 24px;
    line-height: 29px;
    border: 0;
    border-radius: 6px;
    background-color: #191919;
    margin-bottom: 20px;
    color: var(--whitish-text);
    padding-left: 20px;
}

.subs-button {
    background-color: #118DA8;
    border: 0;
    border-radius: 6px;
    font-size: 15px;
    line-height: 29px;
    color: var(--whitish-text);
    width: 90px;
    height: 50px;
    display: block;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(200px, 400px);
    gap: 16px;
    justify-items: center;
    margin-top: 200px;
}

.review {
    background-color: black;
    border-radius: 32px;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

.rev-text {
    font-size: 1.5em;
    line-height: 43px;
    margin-top: 20px;
}

.rev-author {
    margin-top: 20px;
    font-size: 1em;
    line-height: 29px;
    color: var(--whitish-text);
}

footer {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.services-bottom {
    justify-items: center;
}

#nav-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#nav-footer .nav-el {
    text-align: left;
    margin-bottom: 10px;
    width: fit-content;
}

@media (max-width: 1100px) {
    header img {
        margin: 0 auto;
        width: fit-content;
        display: block;
    }

    .container {
        font-size: 18px;
    }

    .burger {
        display: grid;
    }

    #nav-header {
        width: 100%;
        display: none;
    }

    .header {
        text-align: center;
    }

    #view-all {
        position: static;
        margin: 0 auto;
        width: fit-content;
        display: block;
    }

    .services-top {
        margin: 120px auto;
        width: fit-content;
    }

    .main-slogan {
        grid-template-columns: 1fr;
    }

    .main-img {
        display: none;
    }

    .slogan {
        text-align: center;
        line-height: 75px;
    }

    .container {
        padding: 10px;
    }

    .episode {
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .episode img {
        max-height: 300px;
        align-self: left;
        justify-self: left;
    }

    .ep-header, .ep-detail {
        margin-top: 10px;
    }

    .reviews {
        grid-template-columns: 1fr 1fr;
    }

    input {
        width: 50%;
    }

    .ep-topic {
        margin-bottom: 10px;
    }

    .services-bottom, .services-top {
        margin: 0 auto;
        width: fit-content;
    }

    .services-top {
        margin-top: 50px;
    }
}

@media (max-width: 800px) {
    .reviews {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 2100px) {
    .container {
        padding: 70px 20%;
    }
}

@media (min-width: 1100px) {
    #nav-header {
        display: grid !important;
    }
}