.App {
  background-color: #444;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.greeting {
  text-align: center;
  font-size: 42px;
  color: white;
  margin-top: 20px;
}

.categs-select {
  width: 200px;
  height: 40px;
  font-size: 24px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: .25s;
}

.cart-button {
  position: absolute;
  right: 40px;
  top: 120px;
  background-color: white;
  width: 200px;
  height: 40px;
  font-size: 24px;
  border-radius: 10px;
  border: 0;
  transition: .25s;
  cursor: pointer;
  z-index: 5;
}

.cart-button:hover, .categs-select:hover {
  transform: scale(1.1);
}