html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    --whitish-text: #C0C0C0;
    background-color: black;
    --padding: 10%;
}

header {
    height: 100px;
    background-color: #181818;
    display: grid;
    grid-template-columns: 30% 70%;
    place-items: center;
}

p {
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    font-size: 24px;
}

.burger {
    width: 50px;
    height: 50px;
    background-color: #222;
    position: absolute;
    right: 40px;
    top: 40px;
    display: none;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    padding: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .25s;
}

.burg-line {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: .25s transform;
}

.burger:hover {
    background-color: #444;
}

.header-nav {
    display: block;
    z-index: 2;
}

.hn {
    display: inline;
    margin-left: 32px;
    font-size: 0.5em;
    line-height: 20px;
}

.hn:last-of-type {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

.main-slogan {
    height: 715px;
    background-image: url('../assets/IMAGE-13.svg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.photo-settings {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.desc {
    position: absolute;
    bottom: 0;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    right: 0;
    left: 0;
    box-sizing: border-box;
}

.d-1 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: var(--whitish-text);
}

.d-2 {
    font-size: 54px;
    line-height: 59px;
}

.d-3 {
    font-size: 14px;
    line-height: 20px;
    color: var(--whitish-text);
    margin: 15px auto 0 auto;
    width: 50%;
}

.wwd {
    margin-top: 112px;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
}

.areas {
    margin-top: 15px;
    font-size: 23px;
    line-height: 30px;
    color: var(--whitish-text);
    text-align: center;
}

.areas-grid {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    gap: 16px;
    padding: 0 var(--padding) 0 var(--padding);
}

.area {
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
}

.area:nth-of-type(1) {
    background-image: url('../assets/IMAGE-9.svg');
}

.area:nth-of-type(2) {
    background-image: url('../assets/IMAGE-10.svg');
}

.area:nth-of-type(3) {
    background-image: url('../assets/IMAGE-11.svg');
}

.area:nth-of-type(4) {
    background-image: url('../assets/IMAGE-12.svg');
}

.area-desc {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.ar-header {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.ar-desc {
    margin-bottom: 20px;
}

.read {
    background-color: white;
    color: black;
    padding: 10px 10px 10px 42px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    border-radius: 14px;
    width: fit-content;
}

.read::before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: black;
    position: absolute;
    bottom: 4px;
    left: 5px;
    border-radius: 40px;
}

.fuji {
    background-image: url('../assets/IMAGE-8.svg');
    background-size: cover;
    height: 600px;
    position: relative;
    display: grid;
    align-items: center;
}

.img-text {
    position: absolute;
    right: 150px;
    width: 300px;
}

.img-header {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}

.img-desc {
    font-size: 14px;
    line-height: 20px;
    color: var(--whitish-text);
}

.tools {
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.tools-desc {
    position: absolute;
    left: 100px;
    bottom: 150px;
    width: 40%;
}

.tools-header {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 15px;
}

.tools-img {
    background-image: url('../assets/IMAGE-7.svg');
    background-size: cover;
    position: relative;
}

.leafs {
    background-image: url('../assets/IMAGE-6.svg');
    background-size: cover;
    height: 600px;
    position: relative;
    display: grid;
    align-items: center;
}

.past-clients {
    height: 500px;
}

.past {
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    margin-top: 115px;
}

.trusted {
    margin-top: 15px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: var(--whitish-text);
}

.past-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5%;
    place-items: center;
    margin-top: 80px;
    padding: 0 150px;
}

.star-fall {
    height: 600px;
    background-image: url('../assets/IMAGE.svg');
    background-size: cover;
    background-position-y: bottom;
    position: relative;
    display: grid;
    align-items: center;
}

.need-help {
    display: grid;
    place-items: center;
}

.ndhp {
    margin-top: 30px;
    position: relative;
}

footer {
    margin-top: 100px;
    padding: 0 var(--padding) var(--padding) var(--padding);
    position: relative;
}

.slogan {
    font-size: 13px;
    line-height: 20px;
    color: var(--whitish-text);
    margin-top: 20px;
    width: 40%;
}

.fn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 440px;
    position: absolute;
    right: var(--padding);
    top: 0;
}

.fn {
    color: white;
    margin-top: 10px;
}

.footer-container {
    height: 300px;
}

.footer-subs {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 220px auto 0;
    position: relative;
    padding: 36px 0;
    box-sizing: border-box;
    height: 130px;
}

.fsubs-1 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}

.fsubs-2 {
    font-size: 13px;
    line-height: 20px;
    color: var(--whitish-text);
    margin-top: 20px;
}

.input-subs {
    width: 450px;
    height: 50px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.input-label::after {
    content: "";
    background-color: black;
    width: 63px;
    height: 30px;
    border-radius: 11px;
    position: absolute;
    right: 6px;
<<<<<<< HEAD
    bottom: 30px;
=======
    bottom: 48px;
>>>>>>> d15beeb (new burger buttons for mobile)
}

.licensing {
    margin-top: 56px;
}

.services {
    position: absolute;
    right: 130px;
    bottom: 130px;
}

.service {
    margin-left: 20px;
}

@media (max-width: 1100px) {
    html, body {
        --padding: 1%;
    }

<<<<<<< HEAD
    .logo {
        margin-top: 25px;
=======
    .header-nav {
        font-size: 2.5em;
        background-color: rgba(200,200,200,0.5);
        backdrop-filter: blur(5px);
        border-radius: 30px;
        padding: 10px 0 50px;
        position: absolute;
        right: 0;
        top: 200px;
        width: 300px;
        transition: .25s;
        animation: anim 0.5s ease forwards;
    }

    @keyframes anim {
        from {
            top: -1000px;
            right: 0;
        }
        to {
            top: 100px;
            right: 0;
        }
    }
    
    .anim {
        animation: anim-reverse 0.5s ease forwards !important;
    }
    
    @keyframes anim-reverse {
        from {
            top: 100px;
            right: 0;
        }
        to {
            top: 100px;
            right: -1000px;
        }
    }

    .hn {
        margin-top: 50px;
    }

    .burger {
        display: grid;
>>>>>>> d15beeb (new burger buttons for mobile)
    }

    .desc {
        bottom: 150px;
    }

    .img-text {
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        width: fit-content;
    }

    .photo-settings {
        transform: scale(0.75);
    }

    .tools-desc {
        bottom: 70px;
        left: 10px;
    }

    .ar-desc {
        font-size: 14px;
    }

    header {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .hn {
        margin-left: 10px;
    }

    .fn-container {
        grid-template-columns: 1fr;
<<<<<<< HEAD
        position: static;
    }

    .footer-nav {
        margin-top: 20px;
    }

    .footer-subs {
        margin-top: 20px;
=======
        height: 440px;
    }

    .footer-container {
        height: 550px;
>>>>>>> d15beeb (new burger buttons for mobile)
    }

    .input-subs {
        position: static;
        margin-top: 40px;
        width: 100%;
    }

<<<<<<< HEAD
    .input-label::after {
        bottom: 50px;
=======
    .footer-subs {
        height: 200px;
    }

    .input-label::after {
        bottom: 15px;
>>>>>>> d15beeb (new burger buttons for mobile)
    }

    .services {
        position: static;
        margin: 20px auto 0 auto;
        width: fit-content;
    }
}

@media (max-width: 600px) {
    .areas-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 400px) {
    .areas-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1100px) {
    .header-nav {
        display: block !important;
    }
}